* {
    padding: 0;
    margin: 0;
}

/*  Radial Gradient */

.radial {
    background: radial-gradient(red, black, yellow, blue);
    height: 50vh;
}

/*  Linear Gradient  */

.linear {
    background: linear-gradient(30deg, red, black, rgba(104, 228, 218, 0.568));
    height: 50vh;
}