* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: yellowgreen;
    height: 180vh;
    width: 100%;
    position: relative;


}

.box {
    background-color: red;
    background-color: dodgerblue !important;
    background-color: blue;
    height: 100px;
    width: 100px;

    /* position: relative;
    top: 15rem;
    left: 25rem; */

    /* position: absolute;
    bottom: 5rem;
    left: 2rem; */
    
    /* position: sticky; */
    /* position: static; */

    position: fixed;
    right: 30rem;
    bottom: 20rem;


    /* Box Shadow   x y spread */
    box-shadow: 30px 20px 20px black;
}