* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: yellow;
    height: 80vh;
    width: 100%;
    /* position: fixed; */


}

.box {
    background-color: red;
    background-color: aquamarine !important;
    background-color: blue;
    height: 100px;
    width: 100px;
    /* position: relative;
    top: 5rem;
    left: 5rem; */

    position: absolute;
    top: 0rem;
    left: 2rem;

    
    /* position: fixed; */
    /* right: 10rem;
    bottom: 2rem; */

}